.header {
	text-align:center;
	background-color: #50000B;
	border: 5px solid white;
	color: white;
	font-family: Georgia;
	font-size: 30px;
}

.head{
	text-decoration: none;
	color: white;
	border: none;
	font-size: 50px;
	font-family: Georgia;
}
.form {
	text-align: center;
	border: 5px solid white;
	color: white;
	padding: 5px;
	font-size: 20px;
	background-color: #333333;
	background-image: url("images/BGimage.png");
    background-size: cover;
}

.main{
	border: 5px solid white;
	color: white;	
	font-size: 20px;
	background-color: #50000B;
    background-size: cover;
	background-image: url("images/BGimage.png");
    background-size: cover;
	overflow: hidden;

}


div.table {
	text-align: center;
	border: 5px solid white;
	padding: 5px;
	background-color: #50000B;
}


input{
	width: 50%;
	padding: 10px;
}

button{
	border: none;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: purple;
	color: white;
	
}

div.contact {
	border: 5px solid white;
	background-color: #66A0DA;
	padding: 15px;
	font-size: 17px;
	color: black;
	text-align:center;
}

h3 {
	text-align: left;
}

table.contact{
	padding: 5px;
}


.valid {
	background-color: white;
	color: black;
	margin:5px;
}



table.buttons {
	border-color: #50000B;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table.dashboard {
	border-color: #333333;
}

button.book {
	margin: 5px;
}

form.reserve{
	width: 20%;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

fieldset{
	color:black;
	background-color: white;
}

#search {
	border: none;
	margin: 5px;
	width:98%;
}

button.main {
	font-size: 100px;
	width:100%;
	border: 1px solid white;
	display: inline-block;
	background-image: none;
	padding: 40px;
	
}

div.browseButton{
	width:100%;
}

div.registerButton{
	width:60%;
	float: left;
}

div.loginButton{
	width:40%;
	float: right;
	text-align: center;
}

#redfield {
	background-color: #50000B;
	color: white;
}